.conjugation-sections {
  overflow-y: auto;
  overflow-x: hidden;
}

.conjugation-input {
  background-color: white;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.conjugation-input > input {
  flex: 1;
  border: 0;
  outline: 0;
  background-color: transparent;
  padding: 0px 15px;
  font-family: 'Cabin';
  font-size: 15px;
}

.helpers-letter {
  background-color: white;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 2px;
}

.helpers-letter span {
  padding: 0px 5px;
  font-size: 20px;
  cursor: pointer;
}

.helpers-letter span:not(:last-child){
  margin-right: 5px;
}

.verb-name {
  padding: 10px 0px;
}

.verb-name p {
  font-size: 26px;
}

.card-container {
  background: white;
  padding: 10px;
  margin-bottom: 15px;
}

.card-container .card-title-tense p {
  font-size: 19px;
}
.toggle-verb-mode-container {
  padding: 6px 0px;
  color: gray;
  font-size: 17px;
}
.toggle-verb-mode-container div {
  cursor: pointer;
  transition: 0.2s all ease-out;
}
.conjugation-content-result {
  font-size: 17px;
}

.conjugation-content-result:not(:last-child) {
  margin-bottom: 3px;
  border-bottom: 1px solid #e0e0e0;
}
.conjugation-content-result .content-result-pronoun {
  min-width: 50px;
  color: gray;
}
.conjugation-content-result .content-result-conjugation {
  word-break: break-all;
}

.conjugated-cards-verb-error{
  background-color: white;
  padding: 25px;
}
.alert-special-verb {
  align-self: center;
  padding: 10px;
  margin-bottom: 15px;
  color: white;
  background: #ff6580 linear-gradient(45deg, #ff6580,#ff9557);
}
.alert-special-verb a {
  text-decoration: underline;
}

@media all and (min-width: 540px){
  .cardsPack-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    max-height: 900px;
  }
  .cardsPack-container .card-container {
    width: calc(50% - 15px);
  }
}
@media all and (min-width: 768px){
  .cardsPack-container {
    justify-content: center;
  }
  .cardsPack-container .card-container {
    width: calc(33.33% - 15px);
    margin: 0px 5px 10px 5px;
  }
  /* .cardsPack-container .card-container:nth-child(even){
    margin: 0px 10px;
  } */
  .alert-special-verb{
    width: 50%;
  }
}
@media all and (min-width: 1280px){
  /* .cardsPack-container .card-container:nth-child(even){
    margin: 0px;
  }
  .cardsPack-container .card-container:nth-child(odd){
    margin: 10px;
    margin-top: 0px;
  } */
  .cardsPack-container .card-container {
    width: calc(25% - 15px);
  }
}