.conjugation{
	overflow-y:auto;
	min-width: 320px;
	top: 0;
	left: 0;
	height: 100%;
	background-color: #fbfbfb;
	transition: $cubic;
	&-on{
		transform: translateY(0%);
	}

	&-off{
		transform: translateY(100%);
	}
}


.time-name{
	font-size: 30px;
	color: $main-color;
	font-family: 'Pacifico';
}
.actual-verb{
	text-transform: capitalize;
	font-size: 28px;
}

.box-state-buttons{
	font-size: 18px;
	cursor: pointer;
	color:#3c3c3c;
}

.indicator-toggle{
	width: 50%;
	height: 3px;
	background-color: $main-color;
	transition: $cubic;
	&-right{
		transform: translateX(100%);
	}
}


.card{
	box-shadow: 0px 2px 2px 1px #e7e7e7;
}

.size-18 {
	font-size: 18px;
}

.size-20 {
	font-size: 20px;
}

.no-expanded{
	display: none !important;
}

@keyframes waiting{

	from{
		background-color: $main-color;
	}
	to{
		background-color: $gray;
	}
}

.waitIt{
	width: 100%;
	transform: translateX(0);
	animation-name: waiting;
	animation-iteration-count: infinite;
	animation-duration: 2s;
	animation-direction: alternate;
}

.color-gray{
	color: $mid-gray;
}

.arrow-back{
	font-size: 32px;
	cursor: pointer;
}

.expand-box{
	transition: $cubic;
	cursor: pointer;
	&-rotated{
		transform: rotateZ(180deg);
	}
	& span{
		font-size: 32px;
	}
}