.resource {
  background-color: white;
  padding: 10px;
}
.resource a{
  color: black;
}
.resources-container {
  overflow-y: auto;
  overflow-x: hidden;
}
.resource:not(:last-child){
  margin-bottom: 15px;
}
.resource p:not(:last-child){
  margin-bottom: 5px;
}
.resource p:first-child{
  font-size: 20px;
}
.resource p:last-child{
  font-weight: bold;
}
@media all and (min-width: 768px){
  .resources-container {
    width: 50%;
  }
}